<!--https://www.youtube.com/watch?v=x7v6SNIgJpE-->

{{ block "index" .}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <script
      src="https://unpkg.com/htmx.org@2.0.2"
      integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
      crossorigin="anonymous"
    ></script>
    <title>Primeagen_HTMX-GO</title>
  </head>
  <body>
    {{ template "form" .Form }}
    <hr />
    {{ template "display" .Data}}

    <script>
      document.addEventListener("DOMContentLoaded", event => {
        document.body.addEventListener("htmx:beforeSwap", function (evt) {
          if (evt.detail.xhr.status === 422) {
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
          }
        });
      });
    </script>
  </body>
</html>
{{ end }}

{{ block "form" . }}
  <form hx-swap="outerHTML" hx-post="/contacts">
    name:
    <input
      {{ if .Values.name }}
        value="{{ .Values.name }}"
      {{end}}
      type="text"
      name="name"
    />
    email:
    <input
      {{ if .Values.email }}
        value = "{{ .Values.email }}"
      {{end}}
      type = "text"
      name = "email"
    />

    {{if .Errors.email }}
      <div style="color: red">
        {{ .Errors.email }}
      </div>
    {{ end }}
    <button class="submit">Create Contact</button>
</form>
{{ end }} 

{{ block "display" . }}
  <div id="contacts" style="display: flex; flex-direction: column">
    {{ range .Contacts }}
      <div> 
        Name: <span>{{ .Name }}</span> 
        Email: <span>{{ .Email }}</span> 
      </div>
    {{ end }}
</div>
{{ end }}
